kubernetes-proxmox-guide/automation_scripts/n8n/telegram_bot_workflow.json
{
  "name": "K8s Telegram Bot",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-credential-id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "kubectl get nodes -o wide"
      },
      "name": "Get Nodes Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "{{$json.message.chat.id}}",
        "text": "{{$json.output.stdout}}"
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-credential-id",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Nodes Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Nodes Status": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "2",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
